<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
  }
</style>

<div>
  <div class="card">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <% @menus.each_with_index do |menu, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= menu.name %></td>
          <td><%= menu.price %></td>
          <td><%= menu.description %></td>
          <td>
          <%= link_to "Show", menu, class:"btn btn-primary me-2 rounded" %>
          </td>
          <td colspan=3>
            <% menu.menu_categories.each do |menu_category|%>
              <%= Category.find(menu_category.category_id).name %>
            <% end %>
          </td>    
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
