<p style="color: green" class="text-center"><%= notice %></p>

<div class="container-fluid bg-primary text-light p-5">
    <div class="container bg-primary p-5">
      <h1 class="display-4"><%= @customer.name %></h1>
      <hr>
      <p class="lead">Email: <%= @customer.email %></p>
      <div class="btn-group">
        <%= link_to "Edit this customer", edit_customer_path(@customer), class:"btn btn-warning me-2 rounded" %>
        <%= link_to "Back to customers", customers_path, class:"btn btn-dark me-2 rounded" %>
        <%= button_to "Delete this customer", @customer, method: :delete, class:"btn btn-danger" %>  
      </div>
    </div>
</div>
